*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;  
}
a{text-decoration: none;color:black; cursor: pointer;}
a:focus,a:active,a:visited{color:black}
.container{
    width: 90%;
    max-width: 1140px;
    min-width: 480px;
    margin: 0 auto;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigator{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.navigator ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navigator ul > li{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    margin: 30px 20px;
    color: #8A8894;
}

a{text-decoration: none;}

.navigator a > p{
    color: #4D5B67;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.navigator button{
    height: 42px;
    width: 247px;
    border-radius: 30px;
    border-color: #0FC7FF;
    padding: 12px;
    background-color: white;
}
.navigator .btn  p{
    color: #0FC7FF; 
    font-weight: bold;
    vertical-align: baseline;
} 
section{
    margin-top: 30px;
    background-image: url(../image/Vector\ 125.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 625px;
}
section .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first h1{
    vertical-align:top;    
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 59px;
}
.first h2{  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
}
.first span{
    color: #0FC7FF;
}
.first input{
    margin-top: 20px;
}
.first p{
    color: #FFA217;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    margin-top: 20px;
}
.first p span{
    font-weight: bold;
    color: #FFA217;
}
.first input{
    border-radius: 30px;
    border-color: #0FC7FF;
    width: 338px;
    height: 48px;
    padding-left: 10px;
    background-color: #FAFEFF;
}
.first .btn-two{
    position: absolute;
    width: 229px;
    height: 48px;
    border-radius: 30px;
    border: none;
    padding: 10px;
    color: white;
    background-color: #0FC7FF;
    margin-top: 20px;
    margin-left: 15px;
}
.first img{
    height: 70px;
}
.third{
    display: flex;
}
.third img{
    margin-left: 80px;
}
.MobApp .container .title{
    text-align: center;
    margin:50px 0;
}
.MobApp .container .title h1{
    font-weight: bold;
    font-size: 25px;
}
.MobApp .container .title span{
    color: #0FC7FF;
}
.MobApp .container .blocks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin: 0 auto;
}
.MobApp .container .blocks .item{ 
    width: 32%;
    height: 280px;
    padding: 10px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 1px 1px 10px rgb(245, 242, 242);
}
.MobApp .container .blocks .item img{margin: 10px 0;}
.MobApp .container .blocks .item h3{margin-bottom: 10px; letter-spacing: 0.02em; font-weight: bold;}
.MobApp .container .blocks .item p{
    line-height: 1.3;
    margin-top: 10px;
    letter-spacing: 0.02em;
    font-size: 12px;
}
.MobApp .container .btnSec{
    text-align: center;
}
.MobApp .container .blocks .item img{
    height: 35px;
}
.btnSec .btn-two{
    width: 229px;
    height: 48px;
    border-radius: 30px;
    border: none;
    padding: 10px;
    background-color: #0FC7FF;
    margin-top: 50px;
}
.btnSec .btn-two a{
    color: white;
    font-weight: bold;
    letter-spacing: 0.02em;
}
.industries .container .title{
    text-align: center;
    margin:50px 0;
}
.industries .container .title h1{
    font-weight: bold;
    font-size: 25px;
}
.industries .container .title span{
    color: #0FC7FF;
}
.industries .container .about{
    display: flex;
}
.industries .container .about .left img{
    height: 500px;
}
.industries .container .about ul{
    list-style: none;
    line-height: 35px;  
    letter-spacing: 0.02em;
}
.industries .container .about ul > li{
    letter-spacing: 0.02em;
    margin-left: 150px;
}
.industries .container .about ul > li::before{
    content: "|";
    color: #00C7F9;
    margin-right:5px;
}
.industries .container .about .right{
    display: flex;
    align-items: center;
}
.tracker .container .centerSect{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgb(245, 242, 242);
    border-radius: 20px;
    margin-top: 70px;
    margin-bottom: 80px;
    height: 180px;
}
.tracker .container .centerSect .leftSect{
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.tracker .container .centerSect .leftSect h3{
    line-height: 1.5;
    font-size: 18px;
}
.tracker .container .centerSect .leftSect span{
    color: #0FC7FF;
}
.tracking{
    position: relative;
}
.tracking .container .title{
    text-align: center;
    margin:50px 0;
}
.tracking .container .title h1{
    font-weight: bold;
    font-size: 25px;
}
.tracking .container .title span{
    color: #0FC7FF;
}
.tracking .container .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tracking .container .rightdiv img{
    height: 400px;
}
.tracking .container .centerdiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    bottom: 140px;
    right: 500px;
    margin-top: 100px;
}
.tracking .container .centerdiv img{
    height: 100px;
    margin-left: 5px;
}
.tracking .container .leftdiv{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 280px;
    right: 450px;
}
.tracking .container .leftdiv a{
    margin-top: 30px;
    position: absolute;
    left: 55px;
    top: 30px;
    text-align: center;
    text-decoration: underline;
}
.tracking .container .leftdiv img{
    height: 40px;
    width: 40px;
    margin-top: 50px;
}
.tracking .container .leftdivt{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 180px;
    right: 450px;
}
.tracking .container .leftdivt a{
    position: absolute;
    left: 50px;
    top: 10px;
    text-align: center;
    text-decoration: underline;
}
.string{
    margin:50px 0 50px 0;
    border-top: 1.5px solid rgba(128, 128, 128, 0.692);
    border-bottom: 1.5px solid rgba(128, 128, 128, 0.692);
}
.string .container .imgStr{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.string .container .imgStr img{
    height: 20px;
}
.aboutUs{
    height: 300px;
}
.aboutUs .allitems{
    background: #FFFFFF;
    box-shadow: -2.83px 5.5835px 20px rgba(0, 79, 123, 0.05);
    border-radius: 20px;
    height: 250px;
}
.aboutUs .container .title{
    text-align: center;
    margin:50px 0;
}
.aboutUs .container .title h1{
    font-weight: bold;
    font-size: 25px;
}
.aboutUs .container .title span{
    color: #0FC7FF;
}
.aboutUs .rates i{
    color: #FFD600;
}
.aboutUs .rates{
    margin-left: 110px;
    margin-top: 20px;
    display: flex;
    padding-top: 20px;
}
.aboutUs .rates p{
    margin-left: 10px;
}
.aboutUs .custRate{
    padding-top: 30px;
    line-height: 1.5;
}
.aboutUs .custRate p{
    border-left: 2px solid #0FC7FF;
    padding-left: 10px;
}
.aboutUs .custRate a{
    margin-top: 20px;
}
.aboutUs .customer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.aboutUs .customer .leftico , .rightico{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: #0FC7FF;
    text-align: center;
    background-color: #DBF8FF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutUs .container .btnSec{
    text-align: center;
}
header{
    background-image: url(../image/Group\ 1525.png);
    height: 250px;
    width: 100%;
    box-shadow: grey;
    margin-top: 250px;
}
header .container .title{
    text-align: center;
    padding-top:50px;
}
header .container .title h1{
    font-weight: bold;
    font-size: 25px;
}
header .container .title p{
    font-weight: bold;
    font-size: 15px;
    padding-top: 20px;
    color: #4D5B67;
}
header .container .title span{
    color: #0FC7FF;
}
header .container .title p > .myspan{
    font-weight: bold;
    color: black;
}
header .container .lastSec .title img{
    height: 80px;
}
footer .container > .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c00a27;
    border-radius: 5px;
    padding: 20px 20px ;
}
footer .container > .item-3 {
    display: flex;
    justify-content: space-between;
}
footer .container > .item-3 > ul{
    line-height: 35px;
    list-style: none;
}
footer .container > .item-3 > ul > h5{
    margin-top: 30px;
    letter-spacing: 1.6px;
    font-weight: bold;
    font-size: 16px;
}
footer .container > .item-3 > ul > li{
    color: #4D5B67;
}
footer.last-footer {
    height: 60px;
    margin-top: 40px;
    background-color:#F5FAFF;
    display: flex;
    align-items:center;
}
footer.last-footer .container .webtracker{
    display: flex;
    justify-content: space-between;
}


